<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Cetak Laporan Surat</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk"
        crossorigin="anonymous">

    <style>
        hr.new5 {
            border: 3px solid black;
            border-radius: 5px;
            width: 100%;
        }
    </style>
</head>

<body>
    <section class="content">
        <div class="container-fluid">
            <div class="block-header">
                <!-- <div id="div1">
                    <h2>Let jQuery AJAX Change This Text</h2>
                </div>
                <button>Get External Content</button> -->
            </div>
            <div class="card  border-0">
                <div class="header p-4">
                    <div class="row">
                        <div class="col-md-2">
                            <img src="HWASEUNG.PNG" alt="" width="100%" height="80px">
                        </div>
                        <div class="col-md-10">
                            <h3 class="text-center">PT. HWA SEUNG INDONESIA</h3>
                            <h5 class="text-center">Jalan Krasak Banyuputih RT.09 RW.03 Kecamatan Kalinyamatan Kabupaten Jepara,</h5>
                            <h5 class="text-center">Provinsi Jawa Tengah, Indonesia 59467 Tel: (0291) 7512198 Fax: (0291) 7512191</h5>
                            <!-- <h3 class="text-center">USAHA KECIL DAN MENENGAH</h3> -->
                            <!-- <h5 class="text-center">Provinsi Jawa Tengah, Indonesia 59467  Tel: (0291) 7512198 Fax: (0291) 7512191</h5> -->
                            <!-- <h3 class="text-center">KUDUS 59322</h3> -->
                        </div>
                        <br>
                        <hr class="new5">
                    </div>

                </div>
                <div class="body">
                    <!-- <form action="<?= base_url('kadin/surat/acc_surat') ?>" method="POST" enctype="multipart/form-data">

                        <?php foreach ($surat as $sur) : ?>
                        <div class="col-sm-2 lead">Dasar &nbsp;&nbsp;&nbsp;&nbsp; : 1.</div>
                        <div class="col-sm-10 ">
                            <p class=" lead">
                                <?= $sur->isi_surat ?>
                            </p>
                        </div>
                        <div class="col-sm-2 lead">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                            2.
                        </div>
                        <div class="col-sm-10 lead">
                            <?= $sur->keterangan ?>
                        </div>
                        <br>
                        <br>
                        <br> -->
                    <h3 class="text-center ">
                        <u> SURAT PERINGATAN </u>
                    </h3>
                    <h5 class="text-center "> NO: 34/SP-HRD/IV/2022 </h5>
                    <br>
                    <div class="col-sm-12 lead">Kepada karyawan tersebut di bawah ini :</div>
                    <br>
                    <div class="col-sm-12 lead">
                        <table>
                            <tr>
                                <td>&nbsp;&nbsp; &nbsp;&nbsp;&nbsp; </td>
                                <td>Nama</td>
                                <td>: </td>
                            </tr>
                            <tr>
                                <td>&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;</td>
                                <td>NIK</td>
                                <td>: </td>
                            </tr>
                            <tr>
                                <td>&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;</td>
                                <td>Jabatan</td>
                                <td>: </td>
                            </tr>
                            <tr>
                                <td>&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;</td>
                                <td>Bagian</td>
                                <td>: </td>
                            </tr>
                        </table>
                    </div>
                    <br>
                    <div class="col-sm-12 lead">Dengan ini diberikan, Surat Peringatan Ketiga</div>
                    <br>
                    <div class="col-sm-12 lead" style="text-align: justify;">Sehubungan yang bersangkutan telah melakukan pelanggaran peraturan/tata tertib/disiplin kerja yang
                        berlaku di perusahaan. :</div>
                        <br>
                    <div class="col-sm-12 lead">Pasal yang dilanggar :</div>
                    <div class="col-sm-12 lead" style="text-align: justify;">Perjanjian Kerja Bersama Pasal 27 ayat (4) huruf "t" Menitipkan dan/atau dititipi scanning absensi.</div>
                    <br>
                    <div class="col-sm-12 lead">Keterangan lain :</div>
                    <div class="col-sm-12 lead" style="text-align: justify;">- Mencekrollkan absensi sdr. Arum Kusumaningtyas dan sdr. Arum Wahyunigsih pada Selasa, 5 April 2022</div>
                    
                    <br>
                    <br>
                    <div class="col-sm-12 lead" style="text-align: justify;">Apabila dikemudian hari terjadi pengulangan perbuatan pelanggaran tersebut diatas dan/atau melakukan
                        perbuatan pelanggaran selama masa berlaku Surat Peringatan (6 bulan sejak waktu pelanggaran )
                        maka akan diambil tindakan lanjutan sesuai peraturan perusahaan yang berlaku.</div>
                        <!-- <?php $no = 1; ?>
                            <?php foreach ($datatugas as $dsur) : ?>
                            <input class="form-control" type="hidden" name="id[]" value="<?= $dsur->id; ?>">
                            <input class="form-control" type="hidden" name="status_pegawai[]" value="1">
                            <div class="col-sm-4 lead">
                                <?= $no++; ?>. &nbsp;&nbsp; &nbsp;&nbsp;&nbsp; NAMA</div>
                            <div class="col-sm-8 lead">:
                                <?= $dsur->nama ?>
                            </div>

                            <div class="col-sm-4 lead"> &nbsp;&nbsp;&nbsp; &nbsp; &nbsp; &nbsp;&nbsp; Jabatan</div>
                            <div class="col-sm-8 lead">:
                                <?= $dsur->jabatan ?>
                            </div>
                            <div class="col-sm-4 lead">&nbsp;&nbsp;&nbsp; &nbsp; &nbsp; &nbsp;&nbsp; Unit Kerja</div>
                            <div class="col-sm-8 lead">: Dinas Naker Perinkop UKM Kab Kudus</div>
                            <?php endforeach; ?>
                        </div>
                        <div class="col-sm-2 lead">Untuk &nbsp;&nbsp;&nbsp;&nbsp; : </div>
                        <div class="col-sm-10 lead">
                            <input type="hidden" name="no_surat" value="<?= $sur->no_surat ?>"> Melaksanakan tugas sebagai pendamping Alumni UPTD BLK dan Kelompok Wirausaha baru di wilayah
                            Kecamatan
                            <strong>
                                <?= $sur->penempatan ?>
                            </strong>.
                        </div>
                        <?php endforeach; ?> -->


                        <br>
                        <br>
                        <br>
                        <br>
                        <div class="row">
                            <div class="col-sm-4">
                                <div>
                                    <h4 class="text-center"> &nbsp; </h4>
                                </div>
                                <div>
                                    <h6 class="text-center">&nbsp;</h6>
                                    <h6 class="text-center">Penerima Sanksi,</h6>
                                </div>
                                <div>
                                    <br>
                                    <div class="justify-content-center">
                                        <!-- <?php foreach ($surat as $sur) : ?>
                                                <a href="<?= base_url('kadin/surat/kembalikan_surat/') . $sur->no_surat ?>" class="btn btn-warning">Kembalikan Surat </a>
        
                                                <?php endforeach; ?>
                                                <button type="submit" class="btn btn-primary">Menyetujui</button> -->
                                    </div>
                                    <br>
                                    <br>
                                    <br>
                                </div>
                                <div>
                                    <h6 class="text-center">
                                        <b>
                                            GUNTUR SUHENDRO
                                        </b>
                                    </h6>
                                    <!-- <h4 class="text-center">NIP :
                                                <?= $kad->username ?>
                                            </h4> -->
                                </div>
                            </div>
                            <div class="col-sm-4 ">
                            </div>
                            <div class="col-sm-4 ">
                                <div>
                                    <h4 class="text-center"> &nbsp; </h4>
                                </div>
                                <div>
                                    <h6 class="text-center">Jepara, 5 April 2022 </h6>
                                    <h6 class="text-center">Human Resources Development</h6>
                                </div>
                                <div>
                                    <br>
                                    <div class="justify-content-center">
                                        <!-- <?php foreach ($surat as $sur) : ?>
                                        <a href="<?= base_url('kadin/surat/kembalikan_surat/') . $sur->no_surat ?>" class="btn btn-warning">Kembalikan Surat </a>

                                        <?php endforeach; ?>
                                        <button type="submit" class="btn btn-primary">Menyetujui</button> -->
                                    </div>
                                    <br>
                                    <br>
                                    <br>
                                </div>
                                <div>
                                    <h6 class="text-center">
                                        <b>
                                            GUNTUR SUHENDRO
                                        </b>
                                    </h6>
                                    <!-- <h4 class="text-center">NIP :
                                        <?= $kad->username ?>
                                    </h4> -->
                                </div>


                            </div>
                        </div>
                        </form>

                    </div>

                </div>
    </section>
</body>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
    crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
    crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI"
    crossorigin="anonymous"></script>

<script>
    window.print()
</script>

</html>